rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Only authenticated users can read or write their own profile and game history data (stored in players collection)
    match /players/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
